<div class="container">
  <ul><% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %>
        <p><%= article.content %></p>

    </li>
  <% end %></ul>
</div>
<%= link_to 'Write a new article', new_article_path %>
